streamlit
pandas
geopandas
shapely
langchain
langchain-core>=0.3.81
langchain-chroma
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-openai
openai
chromadb
pypdf
sentence-transformers
markdown
thefuzz
python-levenshtein
markdown2docx
python-docx
htmldocx